header.masthead {
    text-align: center;
    color: white;
    background-image: url("../img/architecture-building-countryside-531234.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
  