header.masthead {
    text-align: center;
    color: white;
    background-image: url("../img/WP_20180612_10_57_25_Pro.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
  